h2,
h3 {
  color: #2c3e50;
}

button {
  background-color: var(--first-color);
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: black;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

input:disabled {
  background-color: #f0f0f0;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  margin: 10px 5px;
}

.voucher-manager {
  width: 100%;
  overflow-x: auto;
}

.voucher-manager table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: var(--first-color);
  ;
  color: white;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

.voucher-manager .voucher-info {
  margin: 10px 0;
}

.voucher-manager .voucher-info label {
  font-weight: bold;
  color: #2c3e50;
}

.voucher-manager .voucher-info input {
  font-size: 14px;
  border: 1px solid #ddd;
}


.voucher-detail .voucher-info {
  margin-bottom: 15px;
}

.voucher-detail .voucher-info label {
  font-weight: bold;
  color: #2c3e50;
}

.voucher-detail .voucher-info input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.voucher-detail .button-container {
  display: flex;
}

.voucher-detail .button-container button:last-child {
  background-color: var(--first-color);
}

.voucher-detail .button-container button:last-child:hover {
  background-color: black;
}