h3 {
    color: var(--first-color);
}

button {
    margin: 10px 5px;
    background-color: var(--first-color);
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

input:disabled {
    background-color: #f0f0f0;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--first-color);
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: black;
}

tr:hover {
    background-color: #f1f1f1;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card div {
    margin-bottom: 10px;
}

.invoice-manager {
    width: 100%;
    overflow-x: auto;
}

.invoice-detail {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.invoice-detail .card {
    margin: 15px 0;
}

.invoice-detail .card .voucher-info,
.invoice-detail .card .payment-method {
    background-color: #ecf0f1;
}

.invoice-detail .card.invoice-details ul {
    list-style-type: none;
    padding-left: 0;
}

.invoice-detail .card.invoice-details ul li {
    margin-bottom: 15px;
}

.movie_checkout_content {
    margin: 15px 0px;
}

.header-ticker {
    color: white;
    display: flex;
    gap: 10px;
    background-color: #0abb98;
    padding: 10px;
    border-radius: 8px 8px 0 0px;
    align-items: center;
    text-align: center;
}

.ticket-container {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #1e2949;
    color: white;
    border-radius: 0 0 8px 8px;
    padding: 20px;
}

.ticket-info {
    margin-top: 16px;
}

.text-red {
    color: red;
}

.text-green {
    color: #1abc9c;
}

.col-1 .status {
    font-weight: bold;
    font-size: 1.5em;
}

.row-1 {
    justify-content: space-between;
    display: flex;
}

.row-1 p {
    padding: 10px;
}

.movie-details {
    color: #ff7675;
}

.ticket-info p {
    font-size: 14px;
    margin: 4px 0;
}

.ticket-info span {
    font-weight: bold;
}

.address {
    color: #b2bec3;
}

.qr-section {
    text-align: center;
    margin-top: 16px;
}

.qr-section img {
    width: 240px;
    height: 240px;
}

.ticket-code {
    margin-top: 8px;
    background-color: #2c3e50;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
}

.ticket-code span {
    font-size: 18px;
    color: #1abc9c;
    font-weight: bold;
}

.search-input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.filter-container {
    display: flex;
    gap: 1rem;
}

.filter-container div {
    display: flex;
    flex-direction: column;
}

.filter-container label {
    margin-bottom: 0.5rem;
}

.filter-container input,
.filter-container select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

.filter-container select:focus {
    border-color: var(--first-color);
    outline: none;
}