.movie-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.one h1:after {
    width: 100px;
    height: 5px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: var(--purple);
}

.links a:hover:after {
    width: 100%;
}

.links h1:hover:after {
    width: 100%;
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    box-sizing: border-box;
    pointer-events: none;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.btn:hover {
    border-radius: 5px;
    background-color: black;
    transition: background-color 0.25s;
}

.btn::before {
    border-radius: 5px;
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.btn::after {
    border-radius: 5px;
    border-top-width: 4px;
    border-right-width: 4px;
}

.btn:hover::before,
.btn:hover::after {
    border-radius: 5px;
    border-color: var(--first-color);
    width: 100%;
    height: 100%;
    transition: border-color 0s, width 0.25s, height 0.25s;
}

.btn:hover::before {
    border-radius: 5px;
    transition-delay: 0s, 0s, 0.25s;
}

.btn:hover::after {
    border-radius: 5px;
    transition-delay: 0s, 0.25s, 0s;
}

.socials a:hover {
    opacity: 1;
}

.time-buttons button:hover {
    background-color: var(--first-color);
    color: white;
}