::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    background: #f2f2f2
}

::-webkit-scrollbar-thumb {
    background: var(--first-color);
}

/* NPROGRESS BAR */
#nprogress .bar {
    background: var(--first-color);
    height: 3px;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--first-color), 0 0 5px var(--first-color);
}

#nprogress .spinner-icon {
    border-top-color: var(--first-color);
    border-left-color: var(--first-color);
}

/* GPS ONLINE MAP */
.leaflet-control-container {
    display: none;
    opacity: 0;
}

.leaflet-control-attribution .leaflet-control {
    display: none;
    opacity: 0;
}