::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-thumb {
    background: var(--first-color);
}

/* NPROGRESS BAR */
#nprogress .bar {
    background: var(--first-color);
    height: 3px;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--first-color), 0 0 5px var(--first-color);
}

#nprogress .spinner-icon {
    border-top-color: var(--first-color);
    border-left-color: var(--first-color);
}

#input_movie {
    -webkit-appearance: none;
    /* Dành cho trình duyệt WebKit (Chrome, Safari) */
    -moz-appearance: none;
    /* Dành cho Firefox */
    appearance: none;
    /* Các trình duyệt khác */
    background-color: white;
    /* Nền dropdown */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* Nếu cần thêm biểu tượng khác để thay thế mũi tên */
#input_movie::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 6px solid transparent;
    border-top-color: #333;
    /* Màu của mũi tên */
}